body {
  margin: 0;
  background-color: var(--light-white);
}

:root {
  --grey-bg: #d2d3da;
  --blue-bg: #4b5efc;
  --white-bg: #ffffff;
  --light-white: #f1f2f3;
  --light-grey: #bcbcbd;
  --dark-grey: #919192;
  --black: #000000;
}

@media all and (max-width: 500px) {
  body {
    height: 100%;
    overflow: hidden;
  }
  .keybord {
    margin-bottom: 35px;
  }
}
