@font-face {
  font-weight: 300;
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-Regular.ttf");
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--light-white);
}

:root {
  --grey-bg: #d2d3da;
  --blue-bg: #4b5efc;
  --white-bg: #ffffff;
  --light-white: #f1f2f3;
  --light-grey: #bcbcbd;
  --dark-grey: #919192;
  --black: #000000;
}
